table{
    width:100%;
}

#icono{
    background: royalblue;
    color: white;
}

.row{
    margin-top: 120px;
    text-align: center;
    margin-left: 600px;
    width: 450px;
}

ui li {
    list-style: none;
}

#titulo{
    text-align: center;
    justify-content: center;
    margin-left: 560px;
    color: white;
}

#salir{
    margin-top: 12px;
}