<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" (click)="regresar()" mat-menu-item>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Defensores</div>
        </div>
        <table mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.apellido}} </td>
            </ng-container>

            <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.email}} </td>
            </ng-container>

            <ng-container matColumnDef="cedula">
                <th mat-header-cell *matHeaderCellDef> Cedula </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.cedula}} </td>
            </ng-container>

            <ng-container matColumnDef="eps">
                <th mat-header-cell *matHeaderCellDef> Eps </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.eps}} </td>
            </ng-container>

            <ng-container matColumnDef="arl">
                <th mat-header-cell *matHeaderCellDef> Arl </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.arl}} </td>
            </ng-container>

            <ng-container matColumnDef="contrato">
                <th mat-header-cell *matHeaderCellDef> Contrato </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.contrato}} </td>
            </ng-container>

            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef> Direccion </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.direccion}} </td>
            </ng-container>

            <ng-container matColumnDef="pension">
                <th mat-header-cell *matHeaderCellDef> Pension </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.pension}} </td>
            </ng-container>

            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef> Telefono </th>
                <td mat-cell *matCellDef="let defensor"> {{defensor.telefono}} </td>
            </ng-container>

            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.activo}} </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let defensor">
                    <button mat-icon-button [matMenuTriggerFor]="menuOpciones">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuOpciones="matMenu">
                        <button mat-menu-item [routerLink]="['/defensorPublicoEdit',defensor.cedula]">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="delete(defensor.cedula)">
                            <mat-icon>delete</mat-icon>
                            <span>Borrar</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef=displayedColums></tr>
            <tr mat-row *matRowDef="let defensor; columns: displayedColums;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10,15,20]"></mat-paginator>
        <button id="icono" class="btnCrear" mat-fab [routerLink]="[ '/guardarDefensor']">
            <mat-icon>person_add</mat-icon>
        </button>

    </div>
</div>
<div [hidden]="!correcto">
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-success" role="alert">
                <strong>Defensor publico con cedula :</strong> {{cedula}} <strong>Eliminado</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>