<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" [routerLink]="[ '/listaInvestigador' ]" mat-menu-item>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <mat-card-title>Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Guardar investigador</div>
        </div>
        <form (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="row wrap">

            <div class="input" fxFlex="32" appearance="outline">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" class="form-control" placeholder="Ingresa nombre... " required
                    [(ngModel)]="investigador.nombre" name="nombre">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label for="apellido">Apellido</label>
                <input id="apellido" type="text" class="form-control" placeholder="Ingresa apellido... " required
                    [(ngModel)]="investigador.apellido" name="apellido">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label for="cedula">Numero de cedula</label>
                <input id="cedula" type="text" class="form-control" placeholder="Ingresa cedula... " required
                    [(ngModel)]="investigador.cedula" name="cedula">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label for="cargo">Cargo</label>
                <input id="cargo" type="text" class="form-control" placeholder="Ingresa cargo... " required
                    [(ngModel)]="investigador.cargo" name="cargo">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label for="direccion">Direccion</label>
                <input id="direccion" type="text" class="form-control" placeholder="Ingresa direccion... " required
                    [(ngModel)]="investigador.direccion" name="direccion">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label for="email">Email</label>
                <input id="email" type="text" class="form-control" placeholder="Ingresa email " required
                    [(ngModel)]="investigador.email" name="email">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label for="telefono">Telefono</label>
                <input id="telefono" type="text" class="form-control" placeholder="Ingresa numero telefono... " required
                    [(ngModel)]="investigador.telefono" name="telefono">
            </div>

            <div mat-dialog-actions class="p-16" fxFlex="100" fxLayoutAlign="end center">
                <button mat-stroked-button fxFlex="20" type="submit" class="btnPrimario ">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>