<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
    <a href="{{fileUpload.url}}">{{fileUpload.name}}</a>

    <div [hidden]="!correcto">
        <button id="delete" (click)='deleteFileUpload(fileUpload)' mat-icon-button class="eliminar">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>