<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" [routerLink]="[ '/listaCiudadano']" mat-menu-item>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="ciudadano" class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Editar ciudadano</div>
        </div>

        <mat-card-content fxFlex="100" fxLayout="row wrap">
            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="ciudadano.nombre" #nombre id="nombre" placeholder="nombre ciudadano..">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="ciudadano.apellido" #apellido id="apellido"
                    placeholder="apellidos ciudadano..">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Edad</mat-label>
                <input matInput [(ngModel)]="ciudadano.edad" #edad id="edad" placeholder="edad ciudadano..">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Direccion</mat-label>
                <input matInput [(ngModel)]="ciudadano.direccion" #direccion id="direccion"
                    placeholder="direccion ciudadano..">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput [(ngModel)]="ciudadano.email" #email id="email" placeholder="email ciudadano..">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input matInput [(ngModel)]="ciudadano.telefono" #telefono id="telefono"
                    placeholder="telefono ciudadano..">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Ciudad</mat-label>
                <input matInput [(ngModel)]="ciudadano.ciudad" #ciudad id="ciudad" placeholder="ciudad ciudadano..">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Cedula</mat-label>
                <input matInput [(ngModel)]="ciudadano.cedula" #cedula id="cedula" placeholder="cedula ciudadano..">
            </mat-form-field>
        </mat-card-content>

        <div mat-dialog-actions class="p-16" fxFlex="100" fxLayoutAlign="end center">
            <button id="actualizar" (click)="actualizar()" mat-stroked-button fxFlex="20"
                class="btnPrimario ">Actualizar</button>
        </div>

    </div>

</div>