<div fxFlex="100" fxLayout="row wrap">
  <mat-toolbar color="primary" fxFlex="100">
    <mat-toolbar-row>
      <div class="regresar">
        <button id="regresar" (click)="regresar()" mat-menu-item>
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
      <mat-card-title>Grupo De Investigación Defensorial</mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <!--Salir------------------------------------------->
          <button id="salir" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Salir
            </button>
          </mat-menu>
          <!-------------------------------------------------->
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="p-16" fxFlex="100">
    <div class="card" fxFlex="100" fxLayout="row wrap">
      <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="h4 input">Adjuntar evidencia</div>
      </div>
      <app-mision-form-upload fxFlex="100"></app-mision-form-upload>
    </div>
  </div>


  <div class="p-16" fxFlex="100">
    <div class="card" fxFlex="100" fxLayout="row wrap">
      <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="h4 input">Mision de trabajo</div>
      </div>
      <mat-card-content fxFlex="100" fxLayout="row wrap">

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Radicado interno</mat-label>
          <input matInput [(ngModel)]="mision.radicadoInterno" (ngModelChange)="ngOnChanges($event)" #radicadoInterno
            id="radicadoInterno">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Mision de trabajo</mat-label>
          <input matInput [(ngModel)]="mision.misionTrabajo" #misionTrabajo id="misionTrabajo">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Programa</mat-label>
          <input type="text" matInput [formControl]="myControlPrograma" [matAutocomplete]="autoPrograma" required
            [(ngModel)]="mision.programa">
          <mat-autocomplete #autoPrograma="matAutocomplete">
            <mat-option *ngFor="let optionPrograma of filteredPrograma | async" [value]="optionPrograma">
              {{optionPrograma}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Ciudadano</mat-label>
          <input type="text" matInput [formControl]="myControlCiudadano" [matAutocomplete]="autoCiudadano" required
            [(ngModel)]="mision.ciudadano">
          <mat-autocomplete #autoCiudadano="matAutocomplete">
            <mat-option *ngFor="let optionCiudadano of filteredCiudadano | async" [value]="optionCiudadano">
              {{optionCiudadano}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Investigador</mat-label>
          <input type="text" matInput [formControl]="myControlInvestigador" [matAutocomplete]="autoInvestigador"
            required [(ngModel)]="mision.investigador">
          <mat-autocomplete #autoInvestigador="matAutocomplete">
            <mat-option *ngFor="let optionInvestigador of filteredInvestigador | async" [value]="optionInvestigador">
              {{optionInvestigador}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Investigacion</mat-label>
          <input type="text" matInput [formControl]="myControlInvestigacion" [matAutocomplete]="autoInvestigacion"
            required [(ngModel)]="mision.investigacion">
          <mat-autocomplete #autoInvestigacion="matAutocomplete">
            <mat-option *ngFor="let optionInvestigacion of filteredInvestigacion | async" [value]="optionInvestigacion">
              {{optionInvestigacion}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>SPOA</mat-label>
          <input matInput [(ngModel)]="mision.SPOA" #SPOA id="SPOA">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Defensor publico</mat-label>
          <input type="text" matInput [formControl]="myControlDefensorPublico" [matAutocomplete]="autoDefensorPublico"
            required [(ngModel)]="mision.defensorPublico">
          <mat-autocomplete #autoDefensorPublico="matAutocomplete">
            <mat-option *ngFor="let optionDefensorPublico of filteredDefensorPublico | async"
              [value]="optionDefensorPublico">
              {{optionDefensorPublico}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>PAG</mat-label>
          <input type="text" matInput [formControl]="myControlPAG" [matAutocomplete]="autoPAG" required
            [(ngModel)]="mision.pag">
          <mat-autocomplete #autoPAG="matAutocomplete">
            <mat-option *ngFor="let optionPAG of filteredPAG | async" [value]="optionPAG">
              {{optionPAG}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Resultado</mat-label>
          <input type="text" matInput [formControl]="myControlResultado" [matAutocomplete]="autoResultado" required
            [(ngModel)]="mision.resultado">
          <mat-autocomplete #autoResultado="matAutocomplete">
            <mat-option *ngFor="let optionResultado of filteredResultado | async" [value]="optionResultado">
              {{optionResultado}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Regional</mat-label>
          <input type="text" matInput [formControl]="myControlRegional" [matAutocomplete]="autoRegional" required
            [(ngModel)]="mision.regional">
          <mat-autocomplete #autoRegional="matAutocomplete">
            <mat-option *ngFor="let optionRegional of filteredRegional | async" [value]="optionRegional">
              {{optionRegional}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Fecha recibido</mat-label>
          <input matInput type="date" [(ngModel)]="mision.fechaRecibido" #fechaRecibido id="fechaRecibido">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Fecha asignacion</mat-label>
          <input matInput type="date" [(ngModel)]="mision.fechaAsignacion" #fechaAsignacion id="fechaAsignacion">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Fecha devolucion</mat-label>
          <input matInput type="date" [(ngModel)]="mision.fechaDevolucion" #fechaDevolucion id="fechaDevolucion">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Fecha de informe</mat-label>
          <input matInput type="date" [(ngModel)]="mision.fechaDeInforme" #fechaDeInforme id="fechaDeInforme">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Fecha de vencimiento</mat-label>
          <input matInput type="date" [(ngModel)]="mision.fechaVencimiento" #fechaVencimiento id="fechaVencimiento">
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Número de informe</mat-label>
          <input matInput [(ngModel)]="mision.numeroInforme" #numeroInforme id="numeroInforme">
        </mat-form-field>


        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Estado de proceso</mat-label>
          <input type="text" matInput [formControl]="myControlEstadoProceso" [matAutocomplete]="autoEstadoProceso"
            required [(ngModel)]="mision.estadoProceso">
          <mat-autocomplete #autoEstadoProceso="matAutocomplete">
            <mat-option *ngFor="let optionEstadoProceso of filteredEstadoProceso | async" [value]="optionEstadoProceso">
              {{optionEstadoProceso}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Conducta punible</mat-label>
          <input type="text" matInput [formControl]="myControlConductaPunible" [matAutocomplete]="autoConductaPunible"
            required [(ngModel)]="mision.conductaPunible">
          <mat-autocomplete #autoConductaPunible="matAutocomplete">
            <mat-option *ngFor="let optionConductaPunible of filteredConductaPunible | async"
              [value]="optionConductaPunible">
              {{optionConductaPunible}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex.xs="100" class="input" fxFlex="32" appearance="outline">
          <mat-label>Observacion</mat-label>
          <input matInput [(ngModel)]="mision.observaciones" #observaciones id="observaciones">
        </mat-form-field>

      </mat-card-content>



      <div mat-dialog-actions class="p-16" fxFlex="100" fxLayoutAlign="end center">
        <button id="guardar" mat-stroked-button fxFlex="20" (click)="save()" class="btnPrimario">Guardar</button>
      </div>
    </div>
  </div>
</div>