<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" (click)="regresar()" mat-menu-item>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Usuarios</div>
        </div>
        <table mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="idUsuario">
                <th mat-header-cell *matHeaderCellDef> id Usuario </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.idUsuario}} </td>
            </ng-container>

            <ng-container matColumnDef="idTipoUsuario">
                <th mat-header-cell *matHeaderCellDef> tipo Usuario </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.idTipoUsuario}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
            </ng-container>

            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.activo}} </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let usuario">
                    <button mat-icon-button [matMenuTriggerFor]="menuOpciones">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuOpciones="matMenu">
                        <button mat-menu-item [routerLink]="['/usuarioEdit',usuario.idUsuario]">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="delete(usuario.idUsuario,usuario.email,usuario.clave)">
                            <mat-icon>delete</mat-icon>
                            <span>Borrar</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef=displayedColums></tr>
            <tr mat-row *matRowDef="let usuario; columns: displayedColums;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10,15,20]"></mat-paginator>
        <button id="icono" class="btnCrear" mat-fab [routerLink]="[ '/guardarUsuario']">
            <mat-icon>person_add</mat-icon>
        </button>

    </div>
</div>