
.contenedor {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
    .contenedor-formulario {
      width: 400px;
    }
  
    .download {
      background: #1081ff;
      color: #FFFFFF;
      padding: 10px 20px;
      margin-bottom: 20px;
 
    }

    #botonSubir{
      width: 200px;
      margin-left: 216px;
    }

    h1{
      text-align: center;
    }  

    #regresar{
      color: white;
      margin-top: -430px; 
      margin-left: 440px;
      width: 120px;
      height: 40px;
  }

  
#mensaje{
  text-align: center;
  
}

#salir{
  text-align: right;
  margin-left: 1110px;
  color: white;
}