<div class="content">
  <nav id="navbar" class="navbar navbar-dark bg-info">
    <a id="mensaje" class="navbar-brand">
      Portal Defensores Publicos
    </a>
    <div class="success" *ngIf="authService.user | async">  
      <button id="salir" mat-button (click)="logout()">Salir!</button>
    </div>
  </nav>
</div>
<div class="contenedor">
    <div class="contenedor_formulario">
      <h1 class="is-size-1">Grabar archivo diligenciado</h1>
      <p class="download" *ngIf="finalizado">URL de descarga: <a href="{{ URLPublica }}" target="_blank">Descargar</a></p>
      <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
        <div class="file has-name is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
            <span class="file-cta">
              <span class="file-label">
                Elegir un archivo…
              </span>
            </span>
            <span class="file-name">
              {{ mensajeArchivo }}
            </span>
          </label>
        </div>
        <hr>
        <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success" value="{{porcentaje}}" max="100">{{porcentaje}}%</progress>
        <button id="botonSubir"class="btn btn-primary" [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}" [disabled]="!archivoForm.valid && (porcentaje > 0 && porcentaje < 100) ">Subir archivo</button>
      </form>
    </div>

  </div>

<div class="regresar">
    <button id="regresar" class="btn btn-warning" (click)="regresar()">Regresar</button>
</div>
