<div fxFlex="100" fxLayout="row wrap">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="regresar">
        <button id="regresar" (click)="regresar()" mat-menu-item>
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
      <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <!--Salir------------------------------------------->
          <button id="salir" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Salir
            </button>
          </mat-menu>
          <!-------------------------------------------------->
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="p-16" fxFlex="100">
    <div class="card" fxFlex="100" fxLayout="row wrap">
      <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="h4 input">Reportes misiones de trabajo</div>
      </div>

      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Seleccionar una opción</mat-label>
        <mat-select [(value)]="opcionEscogida" (selectionChange)="seleccionarOpcion()">
          <mat-option>None</mat-option>
          <mat-option value="investigador">Investigador</mat-option>
          <mat-option value="defensorPublico">Defensor publico</mat-option>
        </mat-select>
      </mat-form-field>

      <div [hidden]="!escogioInvestigador" fxFlex="68">
        <mat-form-field class="input" fxFlex="30" fxFlex.xs="100" appearance="outline">
          <mat-label>Investigador</mat-label>
          <input type="text" matInput [formControl]="myControlInvestigador" [matAutocomplete]="autoInvestigador"
            required [(ngModel)]="investigador">
          <mat-autocomplete #autoInvestigador="matAutocomplete">
            <mat-option *ngFor="let optionInvestigador of filteredInvestigador | async" [value]="optionInvestigador">
              {{optionInvestigador}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="input" fxFlex="30" fxFlex.xs="100" appearance="outline">
          <mat-label>Seleccionar una fecha</mat-label>
          <mat-select [(value)]="fechaEscogida">
            <mat-option>None</mat-option>
            <mat-option value="enero">Enero</mat-option>
            <mat-option value="febrero">Febrero</mat-option>
            <mat-option value="marzo">Marzo</mat-option>
            <mat-option value="abril">Abril</mat-option>
            <mat-option value="mayo">Mayo</mat-option>
            <mat-option value="junio">Junio</mat-option>
            <mat-option value="julio">Julio</mat-option>
            <mat-option value="agosto">Agosto</mat-option>
            <mat-option value="septiembre">Septiembre</mat-option>
            <mat-option value="octubre">Octubre</mat-option>
            <mat-option value="noviembre">Noviembre</mat-option>
            <mat-option value="diciembre">Diciembre</mat-option>
          </mat-select>
        </mat-form-field>

        <div mat-dialog-actions class="p-16" fxFlex="30" fxFlex.xs="100" fxLayoutAlign="center center">
          <button id="guardar" (click)="consultar()" mat-stroked-button fxFlex="100"
            class="btnPrimario ">Consultar</button>
        </div>
      </div>

      <div [hidden]="!escogioDefensorPublico" fxFlex="68">
        <mat-form-field class="input" fxFlex="30" fxFlex.xs="100" appearance="outline">
          <mat-label>Investigador</mat-label>
          <input type="text" matInput [formControl]="myControlDefensorPublico" [matAutocomplete]="autoDefensorPublico"
            required [(ngModel)]="defensorPublico">
          <mat-autocomplete #autoDefensorPublico="matAutocomplete">
            <mat-option *ngFor="let optionDefensor of filteredDefensorPublico | async" [value]="optionDefensor">
              {{optionDefensor}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="input" fxFlex="30" fxFlex.xs="100" appearance="outline">
          <mat-label>Seleccionar una fecha</mat-label>
          <mat-select [(value)]="fechaEscogida">
            <mat-option>None</mat-option>
            <mat-option value="enero">Enero</mat-option>
            <mat-option value="febrero">Febrero</mat-option>
            <mat-option value="marzo">Marzo</mat-option>
            <mat-option value="abril">Abril</mat-option>
            <mat-option value="mayo">Mayo</mat-option>
            <mat-option value="junio">Junio</mat-option>
            <mat-option value="julio">Julio</mat-option>
            <mat-option value="agosto">Agosto</mat-option>
            <mat-option value="septiembre">Septiembre</mat-option>
            <mat-option value="octubre">Octubre</mat-option>
            <mat-option value="noviembre">Noviembre</mat-option>
            <mat-option value="diciembre">Diciembre</mat-option>
          </mat-select>
        </mat-form-field>

        <div mat-dialog-actions class="p-16" fxFlex="30" fxLayoutAlign="center center">
          <button id="guardar" (click)="consultar()" mat-stroked-button fxFlex="100"
            class="btnPrimario ">Consultar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="tablaResultado" [hidden]="!desplegarTabla" class="p-16" fxFlex=100>
    <div class="card" fxFlex="100" fxLayout="row wrap">
      <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="h4 input">Misiones de trabajo</div>

        <div [hidden]="!botonImprimir" class="input">
          <button id="generar" (click)="imprimir()" class="btn btn-primary">
            <mat-icon>archive</mat-icon>
          </button>
        </div>
      </div>
      <table mat-table #table [dataSource]="dataSource" matSort fxFlex=100>

        <ng-container matColumnDef="radicadoInterno">
          <th mat-header-cell *matHeaderCellDef> Radicado Interno </th>
          <td mat-cell *matCellDef="let mision"> {{mision.radicadoInterno}} </td>
        </ng-container>

        <ng-container matColumnDef="misionTrabajo">
          <th mat-header-cell *matHeaderCellDef> Mision Trabajo </th>
          <td mat-cell *matCellDef="let mision"> {{mision.misionTrabajo}} </td>
        </ng-container>

        <ng-container matColumnDef="programa">
          <th mat-header-cell *matHeaderCellDef> Programa </th>
          <td mat-cell *matCellDef="let mision"> {{mision.programa}} </td>
        </ng-container>

        <ng-container matColumnDef="ciudadano">
          <th mat-header-cell *matHeaderCellDef> Ciudadano </th>
          <td mat-cell *matCellDef="let mision"> {{mision.ciudadano}} </td>
        </ng-container>

        <ng-container matColumnDef="defensorPublico">
          <th mat-header-cell *matHeaderCellDef> Defensor publico </th>
          <td mat-cell *matCellDef="let mision"> {{mision.defensorPublico}} </td>
        </ng-container>

        <ng-container matColumnDef="pag">
          <th mat-header-cell *matHeaderCellDef> Pag</th>
          <td mat-cell *matCellDef="let mision"> {{mision.pag}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaAsignacion">
          <th mat-header-cell *matHeaderCellDef> Fecha asignación </th>
          <td mat-cell *matCellDef="let mision"> {{mision.fechaAsignacion}} </td>
        </ng-container>

        <ng-container matColumnDef="conductaPunible">
          <th mat-header-cell *matHeaderCellDef> Conducta punible </th>
          <td mat-cell *matCellDef="let mision"> {{mision.conductaPunible}} </td>
        </ng-container>


        <ng-container matColumnDef="investigador">
          <th mat-header-cell *matHeaderCellDef> Investigador </th>
          <td mat-cell *matCellDef="let mision"> {{mision.investigador}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let mision"> {{mision.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="diasVencimiento">
          <th mat-header-cell *matHeaderCellDef> Dias vencimiento </th>
          <td mat-cell *matCellDef="let mision" [ngStyle]="{'color': getColor(mision.diasVencimiento)}">
            {{mision.diasVencimiento}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let mision">
            <button mat-icon-button [matMenuTriggerFor]="menuOpciones">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuOpciones="matMenu">
              <button mat-menu-item (click)="descargarEvidencia(mision.radicadoInterno)">
                <mat-icon> download </mat-icon>
                <a href="{{url}}">Mision:{{name}}</a>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=displayedColums></tr>
        <tr mat-row *matRowDef="let mision; columns: displayedColums;"></tr>
      </table>
    </div>

  </div>
</div>