<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="regresar">
      <button id="regresar" [routerLink]="[ '/listaConducta']" mat-menu-item>
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <!--Salir------------------------------------------->
        <button id="salir" mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Salir
          </button>
        </mat-menu>
        <!-------------------------------------------------->
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="conductaPunible" class="p-16">
  <div class="card" fxFlex="100" fxLayout="row wrap">
    <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="h4 input">Editar conducta punible</div>
    </div>

    <mat-card-content fxFlex="100" fxLayout="row wrap">
      <mat-form-field class="input" fxFlex="32" appearance="outline">
        <mat-label>Nombre conducta punible</mat-label>
        <input matInput [(ngModel)]="conductaPunible.nombreConducta" #nombreConducta id="nombreConducta">
      </mat-form-field>
    </mat-card-content>
    <div mat-dialog-actions  class="p-16" fxFlex="100" fxLayoutAlign="end center">
      <button id="actualizar" (click)="actualizar()" mat-stroked-button fxFlex="20" class="btnPrimario " >Actualizar</button>
    </div>
  </div>
</div>