<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">  
            <!--Salir------------------------------------------->
            <button id="salir" mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Salir
              </button>
            </mat-menu>
            <!-------------------------------------------------->         
        </ul>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

<table mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idTipoUsuario" >
        <th mat-header-cell *matHeaderCellDef> id Tipo Usuario</th>
        <td mat-cell *matCellDef="let tipoUsuario"> {{tipoUsuario.idTipoUsuario}} </td>
    </ng-container>

    <ng-container matColumnDef="Rol" >
        <th mat-header-cell *matHeaderCellDef> Rol tipo usuario </th>
        <td mat-cell *matCellDef="let tipoUsuario"> {{tipoUsuario.rol}} </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef > Opciones </th>
        <td mat-cell *matCellDef="let tipoUsuario"> 
            <button mat-icon-button [matMenuTriggerFor]="menuOpciones">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuOpciones="matMenu">

                <button mat-menu-item [routerLink]="['/tipoUsuarioEdit',tipoUsuario.idTipoUsuario]" >
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>

                <button mat-menu-item (click)="delete(tipoUsuario.idTipoUsuario,tipoUsuario.rol)">
                    <mat-icon>delete</mat-icon>
                    <span>Borrar</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef=displayedColums></tr>
    <tr mat-row *matRowDef="let tipoUsuario; columns: displayedColums;"></tr>
</table>

<mat-paginator 
    [pageSizeOptions]="[5,10,15,20]"></mat-paginator>
    <button id="icono" mat-fab [routerLink]="[ '/guardarTipoUsuario']"><mat-icon>person_add</mat-icon></button>

