<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="regresar">
      <button id="regresar" [routerLink]="[ '/moduloDefensorPublico']" mat-menu-item>
          <mat-icon>keyboard_backspace</mat-icon>
      </button>
  </div>
    <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <!--Salir------------------------------------------->
        <button id="salir" mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Salir
          </button>
        </mat-menu>
        <!-------------------------------------------------->
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
  <div class="card" fxFlex="100" fxLayout="row wrap">
    <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="h4 input">Reportes misiones de trabajo defensor publico</div>
    </div>

    <div fxFlex="70" fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="col-md-10" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
        <div style="display:block" fxFlex="100" class="grafico">
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
            [plugins]="pieChartPlugins" [chartType]="pieChartType" [colors]="pieChartColors" [legend]="pieChartLegend">
          </canvas>
        </div>
        <h4 id="totales" fxFlex="100" fxLayoutAlign="center center">Totales : {{misionesTotales}}</h4>
      </div>
    </div>
  </div>
</div>