<div fxFlex="100" class="card" fxLayout="row wrap">
  <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div class="h4 input">Lista de documentos investigativos</div>
  </div>
  <div *ngFor="let file of fileUploads" class="input" fxLayout="row wrap" fxFlex="50" fxFlex.xs="100">
    <br>
    <div class="panel-body">
      <app-details-upload [fileUpload]='file'></app-details-upload>
    </div>
  </div>
</div>