#regresar{
    color: white;
    margin-left: 240px;
}

#actualizar{
    color: white;
    margin-left: 380px;
    margin-top: -60px;
}

ui li {
    list-style: none;
}

#titulo{
    text-align: center;
    justify-content: center;
    margin-left: 560px;
    color: white;
}

#salir{
    margin-top: 12px;
}
mat-card{
    margin-left: 415px;
    width: 700px;
    margin-top: 100px;
}

mat-form-field{
    margin-left: 200px;
    text-align: center;
    width: 300px;
}

mat-card-title{
    margin-left: 250px;
    color: blue;
}
