<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">  
          <!--Salir------------------------------------------->
          <button id="salir" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Salir
            </button>
          </mat-menu>
          <!-------------------------------------------------->         
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="tipoUsuario"> 
    <mat-card>
        <mat-card-header>
            <mat-card-title class="shadow">Editar Tipo usuario</mat-card-title>
        </mat-card-header>

        <mat-card-content>
             <mat-form-field>
                 <input matInput [(ngModel)]="tipoUsuario.rol" #rol id="rol" placeholder="rol" >
             </mat-form-field>
        </mat-card-content>

        <div class="regresar">
            <button id="regresar" [routerLink]="[ '/listaTipoUsuario']" class="btn btn-warning" >Regresar</button>
        </div>

        <div class="actualizar">
            <button id="actualizar" (click)="actualizar()" class="btn btn-primary" >Actualizar</button>
        </div>
        
    </mat-card>

 </div>  

