<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" (click)="regresar()" mat-menu-item>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Ciudadanos</div>
        </div>
        <table mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell  *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.apellido}} </td>
            </ng-container>

            <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.email}} </td>
            </ng-container>

            <ng-container matColumnDef="cedula">
                <th mat-header-cell *matHeaderCellDef> Cedula </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.cedula}} </td>
            </ng-container>

            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef> Direccion </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.direccion}} </td>
            </ng-container>

            <ng-container matColumnDef="edad">
                <th mat-header-cell *matHeaderCellDef> Edad </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.edad}} </td>
            </ng-container>

            <ng-container matColumnDef="ciudad">
                <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.ciudad}} </td>
            </ng-container>

            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef> Telefono </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.telefono}} </td>
            </ng-container>

            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.activo}} </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let ciudadano">
                    <button mat-icon-button [matMenuTriggerFor]="menuOpciones">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuOpciones="matMenu">
                        <button mat-menu-item [routerLink]="['/ciudadanoEdit',ciudadano.cedula]">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <div [hidden]="!validarBorrado">
                            <button mat-menu-item (click)="delete(ciudadano.cedula)">
                                <mat-icon>delete</mat-icon>
                                <span>Borrar</span>
                            </button>
                        </div>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef=displayedColums></tr>
            <tr mat-row *matRowDef="let ciudadano; columns: displayedColums;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,15,20]"></mat-paginator>
        
    <button id="icono" class="btnCrear" mat-fab [routerLink]="[ '/guardarCiudadano']">
        <mat-icon>person_add</mat-icon>
    </button>
    </div>
</div>