.card{
    top: 70px;
    left: 235px;
    max-height: 378px;
    max-width: 600px;
    text-align: center;
}

#help{
    color: blue;
}
select{
    text-align-last:center;
    padding-left: 50px;
    color: gray;

}
#holder{
    color: gray;
    text-align: center;
}
input{
    color: gray;
    text-align: center;
}

#holder2{
    color: gray;
    text-align: center;
}

h5{
    background-color: darkcyan;
    color: white;
    top: 250px;
}

#regresar{
    color: white;
    margin-top: 110px; 
    margin-left: 445px;
    width: 120px;
    height: 40px;
}

#modificarUsuario{
    color: white;
    margin-top: -65px;
    margin-left: 900px;
}

#guardar{
    color: white;
}

.row{
    margin-top: 50px;
    text-align: center;
    margin-left: 580px;
    width: 470px;
}

ui li {
    list-style: none;
}

mat-card-title{
    text-align: center;
    justify-content: center;
    margin-left: 560px;
}

#salir{
    margin-top: 12px;
}
