<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-card-title>Grupo De Investigación Defensorial</mat-card-title>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">  
          <!--Salir------------------------------------------->
          <button id="salir" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Salir
            </button>
          </mat-menu>
          <!-------------------------------------------------->         
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <div class="card">
        <div class="card-header shadow">Guardar tipo de Usuario</div>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="shadow" id="help" for="nombreTipoUsuario" > Rol </label>
                <input id="rol" type="text" class="form-control" placeholder="Ingresa rol o nombre de tipo usuario... " required [(ngModel)]="tipoUsuario.rol"name="rol">
            </div>
    
            <button id="guardar" type="submit" class="btn btn-primary">Guardar</button>
        </form>
    
    </div>
    </div>
    
    <div class="regresar">
        <button id="regresar" (click)="regresar()" class="btn btn-warning" >Regresar</button>
    </div>

    
    <div class="modificarUsuario">
        <button id="modificarUsuario" class="btn btn-info" [routerLink]="[ '/listaTipoUsuario' ]">Modificar tipo usuario</button>
    </div>

    <div [hidden]="!correcto">
        <div class="row">
            <div class="col-md-8 mt-20">
              <div class="alert alert-success" role="alert">
                  <strong>tipo usuario creado con exito! </strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            </div>
        </div>
    </div>

    <div [hidden]="!incorrecto">
        <div class="row">
            <div class="col-md-8 ">
              <div class="alert alert-danger alert-dismissible">
                  <strong>{{tipoError}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            </div>
        </div>
    </div>

