<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="regresar">
      <button id="regresar" [routerLink]="[ '/listaMisionTrabajo']" mat-menu-item>
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <!--Salir------------------------------------------->
        <button id="salir" mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Salir
          </button>
        </mat-menu>
        <!-------------------------------------------------->
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="mision" class="p-16">
  <div class="card" fxFlex="100" fxLayout="row wrap">
    <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="h4 input">Editar misión de trabajo</div>
    </div>

    <mat-card-content fxFlex="100" fxLayout="row wrap">
      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Radicado interno</mat-label>
        <input matInput [(ngModel)]="mision.radicadoInterno" #radicadoInterno id="radicadoInterno">
      </mat-form-field>

      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Mision de trabajo</mat-label>
        <input matInput [(ngModel)]="mision.misionTrabajo" #misionTrabajo id="misionTrabajo">
      </mat-form-field>

      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Programa</mat-label>
        <input type="text" matInput [formControl]="myControlPrograma" [matAutocomplete]="autoPrograma" required
          [(ngModel)]="mision.programa">
        <mat-autocomplete #autoPrograma="matAutocomplete">
          <mat-option *ngFor="let optionPrograma of filteredPrograma | async" [value]="optionPrograma">
            {{optionPrograma}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Ciudadano</mat-label>
        <input type="text" matInput [formControl]="myControlCiudadano" [matAutocomplete]="autoCiudadano" required
          [(ngModel)]="mision.ciudadano">
        <mat-autocomplete #autoCiudadano="matAutocomplete">
          <mat-option *ngFor="let optionCiudadano of filteredCiudadano | async" [value]="optionCiudadano">
            {{optionCiudadano}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Investigador</mat-label>
        <input type="text" matInput [formControl]="myControlInvestigador" [matAutocomplete]="autoInvestigador" required
          [(ngModel)]="mision.investigador">
        <mat-autocomplete #autoInvestigador="matAutocomplete">
          <mat-option *ngFor="let optionInvestigador of filteredInvestigador | async" [value]="optionInvestigador">
            {{optionInvestigador}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Defensor publico</mat-label>
        <input type="text" matInput [formControl]="myControlDefensorPublico" [matAutocomplete]="autoDefensorPublico"
          required [(ngModel)]="mision.defensorPublico">
        <mat-autocomplete #autoDefensorPublico="matAutocomplete">
          <mat-option *ngFor="let optionDefensor of filteredDefensorPublico | async" [value]="optionDefensor">
            {{optionDefensor}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Regional</mat-label>
        <input type="text" matInput [formControl]="myControlRegional" [matAutocomplete]="autoRegional" required
          [(ngModel)]="mision.regional">
        <mat-autocomplete #autoRegional="matAutocomplete">
          <mat-option *ngFor="let optionRegional of filteredRegional | async" [value]="optionRegional">
            {{optionRegional}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>PAG</mat-label>
        <input type="text" matInput [formControl]="myControlPAG" [matAutocomplete]="autoPag" required
          [(ngModel)]="mision.pag">
        <mat-autocomplete #autoPag="matAutocomplete">
          <mat-option *ngFor="let optionPag of filteredPAG | async" [value]="optionPag">
            {{optionPag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Estado de proceso</mat-label>
        <input type="text" matInput [formControl]="myControlEstadoProceso" [matAutocomplete]="autoProceso" required
          [(ngModel)]="mision.estadoProceso">
        <mat-autocomplete #autoProceso="matAutocomplete">
          <mat-option *ngFor="let optionProceso of filteredEstadoProceso | async" [value]="optionProceso">
            {{optionProceso}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Resultado</mat-label>
        <input type="text" matInput [formControl]="myControlResultado" [matAutocomplete]="autoResultado" required
          [(ngModel)]="mision.resultado">
        <mat-autocomplete #autoResultado="matAutocomplete">
          <mat-option *ngFor="let optionResultado of filteredResultado | async" [value]="optionResultado">
            {{optionResultado}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Investigación</mat-label>
        <input type="text" matInput [formControl]="myControlInvestigacion" [matAutocomplete]="autoInvestigacion"
          required [(ngModel)]="mision.investigacion">
        <mat-autocomplete #autoInvestigacion="matAutocomplete">
          <mat-option *ngFor="let optionInvestigacion of filteredInvestigacion | async" [value]="optionInvestigacion">
            {{optionInvestigacion}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>



      <mat-form-field class="input" fxFlex="32" fxFlex.xs="100" appearance="outline">
        <mat-label>Conducta Punible</mat-label>
        <input type="text" matInput [formControl]="myControlConductaPunible" [matAutocomplete]="autoConductaPunible"
          required [(ngModel)]="mision.conductaPunible">
        <mat-autocomplete #autoConductaPunible="matAutocomplete">
          <mat-option *ngFor="let optionConductaPunible of filteredConductaPunible | async" [value]="optionConductaPunible">
            {{optionConductaPunible}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
    </mat-card-content>


    <div mat-dialog-actions class="p-16" fxFlex="100" fxLayoutAlign="end center">
      <button id="actualizar" (click)="actualizar()" mat-stroked-button fxFlex="20"
        class="btnPrimario ">Actualizar</button>
    </div>

  </div>

</div>