

h2{
    margin-top: 12px;
    width: 1005px;
    color: white;
    background: #283593;;
    text-align: center;
}

header{
    color: #3F51B5;
    background-color: #3F51B5;
}

.container{
    max-height: 15px;
    padding: 20px;
}

.col{
    text-align: center;
}

.card{
    margin: 0 auto; 
    float: none; 
    padding: 30px ;
    border-color: blue;
}
footer h5{
    background-color:  #283593;;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#help{
    color: white;

}

input{
    text-align: center;
    padding: 5px;
    width: 250px;
    align-content: center;
    margin-left: 380px;
}


#boton{
    width: 150px;
    margin-left: 432px;

}

#regresar{
    color: white;
    margin-top: 150px;

}

.error{
    text-align: center;
    margin-left: 360px;
    width: 450px;
}


ui li {
    list-style: none;
}

mat-card-title{
    text-align: center;
    justify-content: center;
    margin-left: 560px;
}

#salir{
    margin-top: 12px;
}


