<!DOCTYPE html>
<html>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-card-title>Grupo De Investigación Defensorial</mat-card-title>
    </mat-toolbar-row>
</mat-toolbar>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  
</head>
 
<body>
  <div class="container">
    <div class="card ">
      <header id="header" class="shadow-lg col-12 mb-4">
        <h2>{{ title }}</h2>
      </header>
      <br>
      <br>
        <input id="correo" class="shadow-bg" type="text" [(ngModel)]="emailAddress" placeholder="Correo Electrónico "  required>
        <br>
        <br>
        <input id="contrasena" class="shadow-bg" type="password" [(ngModel)]="password" placeholder=" Contraseña " required>
        <br>
        <br>
        <button id="boton"(click)="login()" [disabled]="!emailAddress || !password" class="btn btn-success btn-md">
          Entrar
        </button>
      <br>
      <br>
      <br>
      <footer>
        <h5 class="shadow-lg" id="help">¿ Olvido su contraseña ?</h5>
          <div class="error" *ngIf="authService.err">
            <div class="row">
                <div class="col-md-8 mt-20">
                  <div class="alert alert-danger" role="alert">
                      <strong>{{error}}</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                </div>
            </div>
          </div>
      </footer>
    </div>
  </div>

</body>

</html>

