<div fxFlex="100" fxLayout="row wrap">
  <mat-toolbar color="primary" fxFlex="100">
    <mat-toolbar-row>
      <div class="regresar">
        <button id="regresar" (click)="regresar()" mat-menu-item>
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
      <mat-card-title>Grupo De Investigación Defensorial</mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <!--Salir------------------------------------------->
          <button id="salir" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Salir
            </button>
          </mat-menu>
          <!-------------------------------------------------->
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div [hidden]="!correcto" class="p-16" fxFlex="100">
    <div class="card" fxFlex="100">
      <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="h4 input">Almancenar archivos</div>
      </div>

      <app-form-upload fxFlex="100"></app-form-upload>

    </div>
  </div>
  <div class="p-16" fxFlex="100">
    <app-list-upload fxFlex="100"></app-list-upload>
  </div>
</div>