<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" (click)="regresar()" mat-menu-item>
              <mat-icon>keyboard_backspace</mat-icon>
            </button>
          </div>
        <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Misiones de trabajo</div>
        </div>
        <table mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="radicadoInterno">
                <th mat-header-cell *matHeaderCellDef> Radicado Interno </th>
                <td mat-cell *matCellDef="let mision"> {{mision.radicadoInterno}} </td>
            </ng-container>

            <ng-container matColumnDef="misionTrabajo">
                <th mat-header-cell *matHeaderCellDef> Mision Trabajo </th>
                <td mat-cell *matCellDef="let mision"> {{mision.misionTrabajo}} </td>
            </ng-container>

            <ng-container matColumnDef="programa">
                <th mat-header-cell *matHeaderCellDef> Programa </th>
                <td mat-cell *matCellDef="let mision"> {{mision.programa}} </td>
            </ng-container>

            <ng-container matColumnDef="ciudadano">
                <th mat-header-cell *matHeaderCellDef> Ciudadano </th>
                <td mat-cell *matCellDef="let mision"> {{mision.ciudadano}} </td>
            </ng-container>

            <ng-container matColumnDef="defensorPublico">
                <th mat-header-cell *matHeaderCellDef> Defensor publico </th>
                <td mat-cell *matCellDef="let mision"> {{mision.defensorPublico}} </td>
            </ng-container>

            <ng-container matColumnDef="pag">
                <th mat-header-cell *matHeaderCellDef> Pag</th>
                <td mat-cell *matCellDef="let mision"> {{mision.pag}} </td>
            </ng-container>

            <ng-container matColumnDef="regional">
                <th mat-header-cell *matHeaderCellDef> Regional </th>
                <td mat-cell *matCellDef="let mision"> {{mision.regional}} </td>
            </ng-container>

            <ng-container matColumnDef="estadoProceso">
                <th mat-header-cell *matHeaderCellDef> Estado proceso </th>
                <td mat-cell *matCellDef="let mision"> {{mision.estadoProceso}} </td>
            </ng-container>

            <ng-container matColumnDef="resultado">
                <th mat-header-cell *matHeaderCellDef> Resultado </th>
                <td mat-cell *matCellDef="let mision"> {{mision.resultado}} </td>
            </ng-container>

            <ng-container matColumnDef="investigacion">
                <th mat-header-cell *matHeaderCellDef> Investigacion </th>
                <td mat-cell *matCellDef="let mision"> {{mision.investigacion}} </td>
            </ng-container>

            <ng-container matColumnDef="investigador">
                <th mat-header-cell *matHeaderCellDef> Investigador </th>
                <td mat-cell *matCellDef="let mision"> {{mision.investigador}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let mision"> {{mision.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="diasVencimiento">
                <th mat-header-cell *matHeaderCellDef> Dias vencimiento </th>
                <td mat-cell *matCellDef="let mision" [ngStyle]="{'color': getColor(mision.diasVencimiento)}">
                    {{mision.diasVencimiento}} </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let mision">
                    <button mat-icon-button [matMenuTriggerFor]="menuOpciones">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuOpciones="matMenu">
                        <button mat-menu-item [routerLink]="['/misionTrabajoEdit',mision.radicadoInterno]">
                            <mat-icon>edit</mat-icon>
                            <span>Modificar mision</span>
                        </button>
                        <div [hidden]="!puedeCambiarEstado">
                            <button mat-menu-item (click)="cambioEstado(mision.misionTrabajo)">
                                <mat-icon>autorenew icon</mat-icon>
                                <span>Cambio Estado</span>
                            </button>
                        </div>

                        <button mat-menu-item (click)="descargarEvidencia(mision.radicadoInterno)">
                            <mat-icon> download </mat-icon>
                            <span>Descargar</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef=displayedColums></tr>
            <tr mat-row *matRowDef="let mision; columns: displayedColums;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,15,20]"></mat-paginator>

        <button id="icono" class="btnCrear" mat-fab [routerLink]="[ '/guardarMisionTrabajo']">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<div [hidden]="!activarDescarga" id="nameUrl">
    <a href="{{url}}">Descargar radicado: {{name}}</a>
</div>




<div [hidden]="!correcto">
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-success" role="alert">
                <strong>mision con radicado interno :</strong> {{radicadoInterno}} <strong>Cambio de estado</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>