<div fxFlex="100" fxLayout="row wrap">
    <mat-toolbar color="primary" fxFlex="100">
        <mat-toolbar-row>
            <div class="regresar">
                <button id="regresar" (click)="regresar()" mat-menu-item>
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
            </div>
            <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                <ul fxLayout="row" fxLayoutGap="20px">
                    <!--Salir------------------------------------------->
                    <button id="salir" mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Salir
                        </button>
                    </mat-menu>
                    <!-------------------------------------------------->
                </ul>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="p-16" fxFlex="100">
        <div class="card" fxFlex="100" fxLayout="row wrap">
            <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div class="h4 input">Consultar mision de trabajo</div>
            </div>

            <mat-card-content fxFlex="100" fxLayout="row wrap">
                <mat-form-field class="input" fxFlex="32" appearance="outline">
                    <mat-label>Mision de trabajo</mat-label>
                    <input matInput [(ngModel)]="misionTrabajo">
                    <button matSuffix class="btnBusqueda" (click)="consultar()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-content>


        </div>

    </div>


    <div [hidden]="!incorrecto">
        <div class="row">
            <div class="col-md-8 ">
                <div class="alert alert-danger alert-dismissible">
                    <strong>Radicado interno no existe o esta vacio</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div [hidden]="!correcto" class="p-16" fxFlex=100>
        <div class="card" fxFlex=100 fxLayout="row wrap">
            <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div class="h4 input">Mision de trabajo</div>
                <div [hidden]="!activarDescarga" id="nameUrl">
                    <a href="{{url}}">Descargar radicado: {{name}}</a>
                </div>
            </div>



            <mat-card-content fxFlex="100" fxLayout="row wrap">
                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Radicado interno</mat-label>
                    <input readonly matInput [(ngModel)]="mision.radicadoInterno" id="radicadoInterno">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Misión de trabajo</mat-label>
                    <input readonly matInput [(ngModel)]="mision.misionTrabajo" id="misionTrabajo"
                        placeholder="MISION DE TRABAJO">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Programa</mat-label>
                    <input readonly matInput [(ngModel)]="mision.programa" id="programa" placeholder="PROGRAMA">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Ciudadano</mat-label>
                    <input readonly matInput [(ngModel)]="mision.ciudadano" id="ciudadano">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Investigador</mat-label>
                    <input readonly matInput [(ngModel)]="mision.investigador" id="investigador" placeholder="INVESTIGADOR">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Tipo de investigación</mat-label>
                    <input readonly matInput [(ngModel)]="mision.investigacion" id="investigacion">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>SPOA</mat-label>
                    <input readonly matInput [(ngModel)]="mision.SPOA" id="SPOA">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Defensor publico</mat-label>
                    <input readonly matInput [(ngModel)]="mision.defensorPublico" id="defensorPublico">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>PAG</mat-label>
                    <input readonly matInput [(ngModel)]="mision.pag" id="pag" >
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Regional</mat-label>
                    <input readonly matInput [(ngModel)]="mision.regional" id="regional">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Fecha recibido</mat-label>
                    <input readonly matInput [(ngModel)]="mision.fechaRecibido" id="fechaRecibido">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Fecha de asignación</mat-label>
                    <input readonly matInput [(ngModel)]="mision.fechaAsignacion" id="fechaAsignacion">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Fecha de devolución</mat-label>
                    <input readonly matInput [(ngModel)]="mision.fechaDevolucion" id="fechaDevolucion">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Fecha de informe</mat-label>
                    <input readonly matInput [(ngModel)]="mision.fechaDeInforme" id="fechaDeInforme">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Fecha de vencimiento</mat-label>
                    <input readonly matInput [(ngModel)]="mision.fechaVencimiento" id="fechaVencimiento">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Número de informe</mat-label>
                    <input readonly matInput [(ngModel)]="mision.numeroInforme" id="numeroInforme">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Estado de proceso</mat-label>
                    <input readonly matInput [(ngModel)]="mision.estadoProceso" id="estadoProceso">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Conducta punible</mat-label>
                    <input readonly matInput [(ngModel)]="mision.conductaPunible" id="conductaPunible">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Resultado</mat-label>
                    <input readonly matInput [(ngModel)]="mision.resultado" id="resultado">
                </mat-form-field>

                <mat-form-field class="input" fxFlex="32"  fxFlex.xs="100" appearance="outline">
                    <mat-label>Observaciones</mat-label>
                    <input readonly matInput [(ngModel)]="mision.observaciones" id="observaciones">
                </mat-form-field>

            </mat-card-content>
        </div>

    </div>
</div>