/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: monospace, "Helvetica Neue", sans-serif; }

.titlecard{
    background: #f2f2f2;
    color: rgb(27, 65, 179);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.input{
    padding: 8px;
}
.p-16{
    padding: 16px;
}
#regresar .mat-icon {
    margin-right: 16px;
    vertical-align: middle;
    color: white;
}

.btnPrimario{
    background: rgb(27, 65, 179) !important;
    color: white !important;
}

.btnCrear{
    position: fixed !important;
    right: 30px;
    bottom: 40px;
    z-index: 10;
}
.btnBusqueda{
    color: #0033A0 !important;
    background: transparent !important;
    border: 0px !important;
}
.mat-header-cell{
    color: rgb(27, 65, 179) !important;
    font-weight: bold !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
}

h3, .h3 {
    font-size: 16px;
}

#icono{
    background: royalblue;
    color: white;
}

.mat-form-field-wrapper{
    padding-bottom: 1px ;
}

#iconoEvidencias{
    color: rgb(247, 185, 28);
}
.eliminar{
    color: red;
}