<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">  
            <!--Salir------------------------------------------->
            <button id="salir" mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Salir
              </button>
            </mat-menu>
            <!-------------------------------------------------->         
        </ul>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <mat-card-header>
      <mat-card-title>Reportes misiones de trabajo de investigadores</mat-card-title>
    </mat-card-header>
  <div class="row">
    <div class="col-md-10">
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [plugins]="pieChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
      <h4 id="activas"> Total Activas : {{misionesActivas}}</h4>
      <h4 id="inactivas">Total Inactivas : {{misionesInactivas}}</h4>
      <h4 id="totales">Totales : {{misionesTotales}}</h4>
    </div>
  </div>
</mat-card>
<div class="regresar">
  <button id="regresar" [routerLink]="[ '/moduloIngeniero']" class="btn btn-warning" >Regresar</button>
</div>
