mat-card{
    margin-left: 250px;
    width: 950px;
    height: 450px;
    margin-top: 100px;
}

mat-card-title{
    margin-top: -20px;
    margin-left: 290px;
}
.row{
    margin-top: 10px;
    margin-left: 160px;
}

#regresar{
    margin-top: 10px;
    color: white;
    margin-left: 500px;
}

ui li {
    list-style: none;
}

#titulo{
    text-align: center;
    justify-content: center;
    margin-left: 560px;
    color: white;
}

#salir{
    margin-top: 12px;
}


#activas{
    margin-top: -170px;
    margin-left: -140px;
    color: #2034c5;
}

#inactivas{
    margin-left: -140px;
    color: #2034c5;
}

#totales{
    margin-left: -140px;
    color: rgb(32, 145, 32);
}