<mat-toolbar color="primary">

    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" (click)="regresar()" mat-menu-item>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <mat-card-title>Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Guardar ciudadano</div>
        </div>
        <form (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="row wrap">

            <div class="input" fxFlex="32" appearance="outline">
                <label>Nombre</label>
                <input id="nombre" type="text" class="form-control" placeholder="Ingresa nombre... " required
                    [(ngModel)]="ciudadano.nombre" name="nombre">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label>Apellidos</label>
                <input id="apellido" type="text" class="form-control" placeholder="Ingresa apellido... " required
                    [(ngModel)]="ciudadano.apellido" name="apellido">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label>Numero de cedula</label>
                <input id="cedula" type="text" class="form-control" placeholder="Ingresa cedula... " required
                    [(ngModel)]="ciudadano.cedula" name="cedula">
            </div>


            <div class="input" fxFlex="32" appearance="outline">
                <label>Edad</label>
                <input id="edad" type="text" class="form-control" placeholder="Ingresa edad... " required
                    [(ngModel)]="ciudadano.edad" name="edad">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label>Direccion</label>
                <input id="direccion" type="text" class="form-control" placeholder="Ingresa direccion... " required
                    [(ngModel)]="ciudadano.direccion" name="direccion">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label>Email</label>
                <input id="email" type="text" class="form-control" placeholder="Ingresa email " required
                    [(ngModel)]="ciudadano.email" name="email">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label>Telefono</label>
                <input id="telefono" type="number" class="form-control" placeholder="Ingresa numero telefono... "
                    required [(ngModel)]="ciudadano.telefono" name="telefono">
            </div>


            <div class="input" fxFlex="32" appearance="outline">
                <label>Ciudad</label>
                <input id="ciudad" type="text" class="form-control" placeholder="Ingresa ciudad de residencia... "
                    required [(ngModel)]="ciudadano.ciudad" name="ciudad">
            </div>


            <div mat-dialog-actions class="p-16" fxFlex="100" fxLayoutAlign="end center">
                <button mat-stroked-button fxFlex="20" type="submit" class="btnPrimario ">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
