<div fxFlex="100" fxLayout="row wrap">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="regresar">
        <button id="regresar" (click)="regresar()" mat-menu-item>
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
      <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <button id="salir" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Salir
            </button>
          </mat-menu>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="p-16" fxFlex="100">
    <div class="card" fxFlex="100" fxLayout="row wrap">
      <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="h4 input">Informes finales</div>
      </div>
      <table mat-table #table [dataSource]="dataSource" matSort fxFlex="100">

        <ng-container matColumnDef="misionTrabajo">
          <th mat-header-cell *matHeaderCellDef> Mision Trabajo </th>
          <td mat-cell *matCellDef="let mision"> {{mision.misionTrabajo}} </td>
        </ng-container>


        <ng-container matColumnDef="estadoProceso">
          <th mat-header-cell *matHeaderCellDef> Estado proceso </th>
          <td mat-cell *matCellDef="let mision"> {{mision.estadoProceso}} </td>
        </ng-container>


        <ng-container matColumnDef="investigacion">
          <th mat-header-cell *matHeaderCellDef> Investigacion </th>
          <td mat-cell *matCellDef="let mision"> {{mision.investigacion}} </td>
        </ng-container>

        <ng-container matColumnDef="investigador">
          <th mat-header-cell *matHeaderCellDef> Investigador </th>
          <td mat-cell *matCellDef="let mision"> {{mision.investigador}} </td>
        </ng-container>

        <ng-container matColumnDef="seleccionarEvidencias">
          <th mat-header-cell *matHeaderCellDef> Evidencias </th>
          <td mat-cell *matCellDef="let mision">
            <button mat-icon-button [routerLink]="['/informeFinal',mision.misionTrabajo]">
              <mat-icon id="iconoEvidencias">forward</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=displayedColums></tr>
        <tr mat-row *matRowDef="let mision; columns: displayedColums;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,15,20]"></mat-paginator>
    </div>
  </div>

</div>