<div fxFlex="100">
  <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
      attr.aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:percentage+'%'}">
      {{percentage}}%</div>
  </div>

  <label class="btn btn-default"> <input type="file" (change)="selectFile($event)">
  </label>
  <button id="buttonCargar" class="btn btn-primary" [disabled]="!selectedFiles" (click)="upload()">Cargar
    documento</button>
</div>