<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" (click)="regresar()" mat-menu-item>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Programas</div>
        </div>
        <table mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="numeroPrograma">
                <th mat-header-cell *matHeaderCellDef> Numero programa</th>
                <td mat-cell *matCellDef="let programa"> {{programa.numeroPrograma}} </td>
            </ng-container>

            <ng-container matColumnDef="nombrePrograma">
                <th mat-header-cell *matHeaderCellDef> Nombre programa </th>
                <td mat-cell *matCellDef="let programa"> {{programa.nombrePrograma}} </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let programa">
                    <button mat-icon-button [matMenuTriggerFor]="menuOpciones">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuOpciones="matMenu">
                        <button mat-menu-item [routerLink]="['/programaEdit',programa.numeroPrograma]">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="delete(programa.numeroPrograma,programa.nombrePrograma)">
                            <mat-icon>delete</mat-icon>
                            <span>Borrar</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef=displayedColums></tr>
            <tr mat-row *matRowDef="let programa; columns: displayedColums;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10,15,20]"></mat-paginator>
        <button id="icono" mat-fab class="btnCrear" [routerLink]="[ '/guardarPrograma']">
            <mat-icon>add</mat-icon>
        </button>

    </div>
</div>