table{
    width:100%;
}

#icono{
    background: royalblue;
    color: white;
}


ui li {
    list-style: none;
}

#titulo{
    text-align: center;
    justify-content: center;
    margin-left: 560px;
    color: white;
}

#salir{
    margin-top: 12px;
}