<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="regresar">
      <button id="regresar" [routerLink]="[ '/listaResultado']" mat-menu-item>
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <mat-card-title>Grupo De Investigación Defensorial</mat-card-title>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <!--Salir------------------------------------------->
        <button id="salir" mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Salir
          </button>
        </mat-menu>
        <!-------------------------------------------------->
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
  <div class="card" fxFlex="100" fxLayout="row wrap">
    <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="h4 input">Guardar resultado</div>
    </div>
    <form (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="row wrap">
      <div class="input" fxFlex="32" appearance="outline">
        <label>Nombre</label>
        <input id="nombreResultado" type="text" class="form-control" required [(ngModel)]="resultado.nombreResultado"
          name="nombreResultado">
      </div>

      <div mat-dialog-actions class="p-16" fxFlex="100" fxLayoutAlign="end center">
        <button mat-stroked-button fxFlex="20" type="submit" class="btnPrimario ">
          Guardar
        </button>
      </div>
    </form>

  </div>
</div>
