<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" [routerLink]="[ '/listaDefensor']" mat-menu-item>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="defensorPublico" class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Editar defensor publico</div>
        </div>

        <mat-card-content fxFlex="100" fxLayout="row wrap">
            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="defensorPublico.nombre" #nombre id="nombre">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="defensorPublico.apellido" #apellido id="apellido">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>ARL</mat-label>
                <input matInput [(ngModel)]="defensorPublico.arl" #arl id="arl">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>EPS</mat-label>
                <input matInput [(ngModel)]="defensorPublico.eps" #eps id="eps">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Contrato</mat-label>
                <input matInput [(ngModel)]="defensorPublico.contrato" #contrato id="contrato">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Direccion</mat-label>
                <input matInput [(ngModel)]="defensorPublico.direccion" #direccion id="direccion">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="defensorPublico.email" #email id="email">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input matInput [(ngModel)]="defensorPublico.telefono" #telefono id="telefono">
            </mat-form-field>

            <mat-form-field class="input" fxFlex="32" appearance="outline">
                <mat-label>Pension</mat-label>
                <input matInput [(ngModel)]="defensorPublico.pension" #pension id="pension">
            </mat-form-field>
        </mat-card-content>

        
        <div mat-dialog-actions  class="p-16" fxFlex="100" fxLayoutAlign="end center">
            <button id="actualizar" (click)="actualizar()" mat-stroked-button fxFlex="20" class="btnPrimario " >Actualizar</button>
        </div>

    </div>

</div>