#icono{
    background: royalblue;
    color: white;
}

.row{
    margin-top: 120px;
    text-align: center;
    margin-left: 600px;
    width: 450px;
}

#nameUrl{
    text-align: center;
}

ui li {
    list-style: none;
}
#regresar{
    color: white;
    margin-top: 20px; 
    margin-left: 0px;
    width: 120px;
    height: 40px;
}
mat-card-title{
    text-align: center;
    justify-content: center;
    margin-left: 550px;
}

#salir{
    margin-top: 12px;
}



.card{
    width: 394px;
    height: 400px;
}

img{
    width: 330px;
    height: 250px;
}


h4{
    text-align: center;
}

h5{
    text-align: center;
}

.btnPrimario {
    margin-left: 24%;
}

a{
    color: white;
}


