h5{
    text-align: center;
}

h6{
    color: rgb(2, 50, 139);
    text-align: center;
}


img{
    height: 150px;
    width: 250px;
}


.card{
    max-width: 350px;
}


html, body {
    height: 100%;
    overflow: hidden;
    padding: 0.1%;
    background-color: grey;
}

.overflowAuto {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 163px);
}


.containerEntre{
    margin-left: 2%;
}

.btnPrimario{
    margin-left: 12%;
}



table{
    width:100%;
    align-items: center;
    margin-left: 300px;
    margin-top: 5%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}



.table-encabezado{
    background-color: rgb(63, 81, 181);
    color: white;
    text-align: center;
}


#buttonEliminar{
    background-color: rgb(243, 187, 21);
    color: white;
    
}


#buttonEliminar:hover{
    background-color: rgb(255, 191, 0);
    color: white;
}


#buttonEnviar{
    width: 100%;
    margin-left: 300px;
    background-color: rgb(4, 44, 119);
    color: white;
    margin-bottom: 3%;
}


#buttonEnviar:hover{
    width: 100%;
    margin-left: 300px;
    background-color: rgb(63, 81, 181);
    color: white;
    margin-bottom: 3%;
}


#buttonEliminar{
    margin-top: 50px;
    height:35px !important;
    width:35px !important;
    font-size:35px !important;
}
