<div fxFlex="100" fxLayout="row wrap">
  <mat-toolbar fxFlex="100" fxLayout="row wrap" color="primary">
    <mat-toolbar-row>
      <div class="regresar">
        <button id="regresar" (click)="regresar()" mat-menu-item>
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
      <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <!--Salir------------------------------------------->
          <button id="salir" mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Salir
            </button>
          </mat-menu>
          <!-------------------------------------------------->
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="row">
    <div class="row row-cols-1 row-cols-md-1">
      <div class="card-group">
        <div class="col-mb-20 p-16" *ngFor="let item of itemsFinalesImages | async; let i = index">
          <div *ngIf="validarMision(item.idMision)">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top" [src]="item.image">
                <h5 class="card-title">{{item.description}}</h5>
                <h6 class="card-text">{{item.date}}</h6>
                <button mat-stroked-button type="button" class="btnPrimario" (click)="agregarInforme(item,0)">
                  Agregar a informe final
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="containerEntre">

</div>

<div class="row">
  <div class="row row-cols-1 row-cols-md-1">
    <div class="card-group">
      <div class="col-mb-20 p-16" *ngFor="let item of itemsFinalesArchives | async; let i = index">
        <div *ngIf="validarMision(item.idMision)">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8DCPU1s9GMPJHpQuq51fBoefDLIavGWKhOogPTc5CXSGldfW1mxp0OOGYn6Mueta49GQ&usqp=CAU">
              <h5 class="card-title">{{item.description}}</h5>
              <h6 class="card-text">{{item.date}}</h6>
              <button mat-stroked-button type="button" class="btnPrimario" (click)="agregarInforme(item,1)">
                Agregar a informe final
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="itemsFinales.length>0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="table-encabezado">#</th>
        <th scope="col" class="table-encabezado">Defensor</th>
        <th scope="col" class="table-encabezado">Investigador</th>
        <th scope="col" class="table-encabezado">Descripcion</th>
        <th scope="col" class="table-encabezado">Evidencia</th>
        <th scope="col" class="table-encabezado">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let informe of itemsFinales; let i= index">
        <td scope="row" class="table-encabezado"><span>{{informe.idMision}}</span></td>
        <td><span>{{informe.defensorPublico}}</span></td>
        <td><span>{{informe.investigador}}</span></td>
        <td><span>{{informe.description}}</span></td>
        <div *ngIf="informe.identificacionImagen == 0">
          <td><img [src]="informe.evidencia"></td>
        </div>
        <div *ngIf="informe.identificacionImagen == 1">
          <td><img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8DCPU1s9GMPJHpQuq51fBoefDLIavGWKhOogPTc5CXSGldfW1mxp0OOGYn6Mueta49GQ&usqp=CAU">
          </td>
        </div>
        <td>
          <button mat-icon-button class="eliminar" (click)="eliminarEvidenciaSeleccionada(informe)">
            <mat-icon id="buttonEliminar">delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button id="buttonEnviar" (click)="enviarReporte()" class="btn btn-outline-primary btn-block">Enviar
      reporte</button>
  </div>
</div>