ui li {
    list-style: none;
}

mat-card-title{
    text-align: center;
    justify-content: center;
    margin-left: 550px;
}

#salir{
    margin-top: 12px;
}

#informacion{
    margin-top: 12px;
}

:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 350px;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer-content{
    padding: 20px;
}

footer{
    padding: 20px;
    background-color: #283593;
    color: white;
}

.profile-card{
    text-align: center;
    padding: 0 20px 20px 20px;
}

#footerImage{
    width: 500px;
    height: 150px;
    margin-left: 300px;
    margin-top: 83px;
}

#imagenPrincipal{
    width: 100px;
    height: 100px;
    object-fit:cover;
    border-radius:50%;
}

#matSubheader{
    background:#3F51B5;
    color: white;
}

#mision{
    margin-left: 0px;
}

#vision{
    margin-left: 0px;
}