<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="regresar">
            <button id="regresar" [routerLink]="[ '/listaDefensor']" mat-menu-item>
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <mat-card-title>Grupo De Investigación Defensorial</mat-card-title>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <!--Salir------------------------------------------->
                <button id="salir" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>
                <!-------------------------------------------------->
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="p-16">
    <div class="card" fxFlex="100" fxLayout="row wrap">
        <div class="titlecard" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="h4 input">Guardar defensor publico</div>
        </div>
        <form (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="row wrap">

            <div class="input" fxFlex="32" appearance="outline">
                <label>Nombre</label>
                <input id="nombre" type="text" class="form-control" placeholder="Ingresa nombre... " required
                    [(ngModel)]="defensor.nombre" name="nombre">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label  for="apellido">Apellido</label>
                <input id="apellido" type="text" class="form-control" placeholder="Ingresa apellido... " required
                    [(ngModel)]="defensor.apellido" name="apellido">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label  for="cedula">Numero de cedula</label>
                <input id="cedula" type="text" class="form-control" placeholder="Ingresa cedula... " required
                    [(ngModel)]="defensor.cedula" name="cedula">
            </div>


            <div class="input" fxFlex="32" appearance="outline">
                <label  for="arl">Nombre ARL</label>
                <input id="arl" type="text" class="form-control" placeholder="Ingresa ARL... " required
                    [(ngModel)]="defensor.arl" name="arl">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label  for="eps">Nombre de eps</label>
                <input id="eps" type="text" class="form-control" placeholder="Ingresa eps... " required
                    [(ngModel)]="defensor.eps" name="eps">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label  for="contrato">Numero de contrato</label>
                <input id="contrato" type="text" class="form-control" placeholder="Ingresa numero contrato... " required
                    [(ngModel)]="defensor.contrato" name="contrato">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label  for="direccion">Direccion</label>
                <input id="direccion" type="text" class="form-control" placeholder="Ingresa direccion... " required
                    [(ngModel)]="defensor.direccion" name="direccion">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label  for="email">Email</label>
                <input id="email" type="text" class="form-control" placeholder="Ingresa email " required
                    [(ngModel)]="defensor.email" name="email">
            </div>


            <div class="input" fxFlex="32" appearance="outline">
                <label  for="pension">Pension</label>
                <input id="pension" type="text" class="form-control" placeholder="Ingresa nombre pension... " required
                    [(ngModel)]="defensor.pension" name="pension">
            </div>

            <div class="input" fxFlex="32" appearance="outline">
                <label  for="telefono">Telefono</label>
                <input id="telefono" type="text" class="form-control" placeholder="Ingresa numero telefono... " required
                    [(ngModel)]="defensor.telefono" name="telefono">
            </div>
            <div mat-dialog-actions class="p-16" fxFlex="100" fxLayoutAlign="end center">
                <button mat-stroked-button  type="submit" fxFlex="20" class="btnPrimario ">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
