
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-card-title>Grupo De Investigación Defensorial</mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">  
            <!--Salir------------------------------------------->
            <button id="salir" mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Salir
              </button>
            </mat-menu>
            <!-------------------------------------------------->         
        </ul>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <mat-nav-list>
      <div class="profile-card">
        <div class="header">
          <h2>Andrés Riobo</h2>
          <h4>rooseveltandres10@hotmail.com</h4>
        </div>
        <img id="imagenPrincipal" src="https://www.defensoria.gov.co/images/cache/435x245/crop/images%7Ccms-image-000008105.jpg" alt="">
      </div>
      <mat-divider></mat-divider>

      <h2 matSubheader id="matSubheader">Acceder</h2>
      <button mat-button [matMenuTriggerFor]="menu2"><b>Menú principal</b></button>
      <mat-menu #menu2="matMenu">
      <button mat-menu-item routerLink="/seleccionarInformeFinal">Seleccionar informe final</button>
      <button mat-menu-item routerLink="/listaUsuario">Usuario</button>
      <button mat-menu-item routerLink="/listaCiudadano">Ciudadano</button>
      <button mat-menu-item routerLink="/listaConducta">ConductaPunible</button>
      <button mat-menu-item routerLink="/listaDefensor">Defensor publico</button>
      <button mat-menu-item routerLink="/listaEstadoProceso">Estado proceso</button>
      <button mat-menu-item routerLink="/listaPrograma">Programa</button>
      <button mat-menu-item routerLink="/listaInvestigador">Investigador</button>
      <button mat-menu-item routerLink="/listaInvestigacion">Investigación</button>
      <button mat-menu-item routerLink="/listaPag">PAG</button>
      <button mat-menu-item routerLink="/listaRegional">Regional</button>
      <button mat-menu-item routerLink="/listaResultado">Resultado</button>
      </mat-menu>
      <mat-divider></mat-divider>
      <h2 matSubheader id="matSubheader">Descargar archivos</h2>
      <a mat-list-item routerLinkActive= "list-item-active" routerLink="/generalArchivos"><b>Documentos de investigación </b></a>
      <mat-divider></mat-divider>
      <h2 matSubheader id="matSubheader">Misión de trabajo</h2>
      <a mat-list-item routerLinkActive= "list-item-active" routerLink="/listaMisionTrabajo"><b>Modificar </b></a>
      <a mat-list-item routerLinkActive= "list-item-active" routerLink="/filtrarMisiones"><b>Reportes</b></a>
      <a mat-list-item routerLinkActive= "list-item-active" routerLink="/consultarMision"><b>Consultar </b></a>
    </mat-nav-list>
   
  </mat-drawer>
  <mat-drawer-content>
    <br>
    <mat-card-title id="mision">Misión</mat-card-title>
    <br>
    <br>
    <p style="text-align:justify;">La Defensoría del Pueblo es la institución del Estado colombiano responsable de impulsar la efectividad de los derechos humanos de los habitantes del territorio nacional y de los colombianos en el exterior, en el marco del Estado Social de Derecho democrático, participativo y pluralista, mediante las siguientes acciones integradas:
    </p>
    <ul>
      <li>Promover, ejercer y divulgar los derechos humanos.</li>
      <li>Proteger y defender los derechos humanos y prevenir sus violaciones.</li>
      <li>Fomentar la observancia del derecho internacional humanitario.</li>
      <li>Atender, orientar y asesorar en el ejercicio de sus derechos.</li>
      <li>Proveer el acceso a la administración de justicia, en los casos señalados en la Ley.</li>
    </ul>
    <br>
    <mat-card-title id="vision">Visión</mat-card-title>
    <br>
    <br>
    <p style="text-align:justify;">
      La Defensoría del Pueblo al año 2020 será reconocida por su incidencia en la construcción de paz, la promoción de los derechos humanos, la optimización de su gestión y la actuación institucional fundada en el respeto de la dignidad humana y el concepto de integralidad de los derechos humanos, especialmente en los territorios más vulnerables.
    </p>

   
  
  </mat-drawer-content>
</mat-drawer-container>


<footer>
  &copy; All rights reserved 2020 Defensoria Del Pueblo - made by Andrés Riobo
</footer>

