
table{
    width:100%;
}

#icono{
    background: royalblue;
    color: white;
}

.row{
    margin-top: 120px;
    text-align: center;
    margin-left: 600px;
    width: 450px;
}

#nameUrl{
    text-align: center;
}

ui li {
    list-style: none;
}
#regresar{
    color: white;
    margin-top: 20px; 
    margin-left: 0px;
    width: 120px;
    height: 40px;
}
mat-card-title{
    text-align: center;
    justify-content: center;
    margin-left: 550px;
}

#salir{
    margin-top: 12px;
}