<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-card-title id="titulo">Grupo De Investigación Defensorial</mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">  
            <!--Salir------------------------------------------->
            <button id="salir" mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Salir
              </button>
            </mat-menu>
            <!-------------------------------------------------->         
        </ul>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
<table mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="misionTrabajo" >
        <th mat-header-cell *matHeaderCellDef> Mision Trabajo </th>
        <td mat-cell *matCellDef="let mision"> {{mision.misionTrabajo}} </td>
    </ng-container>

    <ng-container matColumnDef="ciudadano" >
        <th mat-header-cell *matHeaderCellDef> Ciudadano </th>
        <td mat-cell *matCellDef="let mision"> {{mision.ciudadano}} </td>
    </ng-container>

    <ng-container matColumnDef="defensorPublico" >
        <th mat-header-cell *matHeaderCellDef> Defensor publico </th>
        <td mat-cell *matCellDef="let mision"> {{mision.defensorPublico}} </td>
    </ng-container>

    <ng-container matColumnDef="pag" >
        <th mat-header-cell *matHeaderCellDef> Pag</th>
        <td mat-cell *matCellDef="let mision"> {{mision.pag}} </td>
    </ng-container>

    <ng-container matColumnDef="estadoProceso" >
        <th mat-header-cell *matHeaderCellDef> Estado proceso </th>
        <td mat-cell *matCellDef="let mision"> {{mision.estadoProceso}} </td>
    </ng-container>

    <ng-container matColumnDef="investigacion" >
        <th mat-header-cell *matHeaderCellDef> Investigacion </th>
        <td mat-cell *matCellDef="let mision"> {{mision.investigacion}} </td>
    </ng-container>

    <ng-container matColumnDef="investigador" >
        <th mat-header-cell *matHeaderCellDef> Investigador </th>
        <td mat-cell *matCellDef="let mision"> {{mision.investigador}} </td>
    </ng-container>

    <ng-container matColumnDef="conductaPunible" >
        <th mat-header-cell *matHeaderCellDef> Conducta Punible </th>
        <td mat-cell *matCellDef="let mision"> {{mision.conductaPunible}} </td>
    </ng-container>


    <ng-container matColumnDef="evidencia" >
        <th mat-header-cell *matHeaderCellDef> Evidencia </th>
        <td mat-cell *matCellDef="let mision"> 
            <button [routerLink]="['/revisarEvidenciaInformeFinal',mision.misionTrabajo]" mat-button color="primary">
                <mat-icon>east</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef=displayedColums></tr>
    <tr mat-row *matRowDef="let mision; columns: displayedColums;"></tr>
</table>

<div class="regresar">
    <button id="regresar" (click)="regresar()" class="btn btn-warning" >Regresar</button>
</div>
