<div fxFlex="100">
  <div *ngIf="currentFileUploadMision" class="progressMision">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
      attr.aria-valuenow="{{percentageMision}}" aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:percentageMision+'%'}">
      {{percentageMision}}%
    </div>
  </div>

  <label class="btn btn-default"> <input type="file" (change)="selectFileMision($event)">
  </label>
  <button id="buttonCargar" class="btn btn-primary" [disabled]="!selectedFilesMision" (click)="uploadMision()">Cargar
    documento</button>
</div>